<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Функционалы:</p>

    <a href="/Admin/TableOfRooms">Админ</a>
    <br />
    <a href="/User/TableOfBooking">Пользователь</a>
</body>
</html>