@model int

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Бронирование</p>
    <form method="post">
        <p>
            <label for="userFirstName">Введите Имя:</label><br />
            <input type="text" id="userFirstName" name="userFirstName" required />
        </p>
        <p>
            <label for="userSecondName">Введите Фамилию:</label><br />
            <input type="text" id="userSecondName" name="userSecondName" required />
        </p>
        <p>
            <label for="userPhoneNumber">Введите номер телефона:</label><br />
            <input type="tel" id="userPhoneNumber" name="userPhoneNumber" placeholder="7 890 123 45 67" pattern="\d\s[0-9]{3}\s[0-9]{3}\s[0-9]{2}\s[0-9]{2}" required />
        </p>
        <p>
            <input type="hidden" value="@Model" name="id" />
            <input type="submit" value="Забронировать" />
        </p>
    </form>
</body>
</html>