@using Booking_PP.Models
@model List<Room>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Комнаты</p>
    <p><a href="/Home/Index">Назад</a></p>
    <table>
        <tr><td>Номер комнаты</td><td>Цена</td><td>Описание комнаты</td><td>Статус</td></tr>
        @foreach (var room in Model)
        {
            <tr>
                <td>@room.NumberRoom</td>
                <td>@room.PriceRoom</td>
                <td><textarea readonly>@room.DescriptionRoom</textarea></td>
                <td>
                    @if (room.IsFree == true)
                    {
                        <a href="Booking?id=@room.ID">Бронировать</a>
                    }
                    else
                    {
                        @: Забронирован
                    }
                </td>
            </tr>
        }
    </table>
</body>
</html>