services:
  app:
    container_name: booking_pp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
  db:
    container_name: postgres
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 3115
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
 
volumes:
  db-data:
